.central-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px dashed #167ce9;
    padding: 10px;

    p {
        margin: 16px;
    }
}

.right-box {
    position: fixed;
    right: -60px;
    top: 50%;
    z-index: 1000;
    padding: 8px;
    background-color: #FFF;
    font-size: 32px;
    line-height: 40px;
    border: solid 1px #AAA;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

    a {
        color: #444;

        :hover {
            color: #167ce9;
        }
    }
}