// Heading Color
$heading-color: #191919;

// Text Color
$text-color: #595959;

// Default Background
$bg-default: #032b91;

// Gray Background
$bg-gray: #f2f4f5;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #1488db; // 032b91

// Footer Color
$footer-color: #2d2d2d;

// Secondary Color
$secondary-color: #032b91; //a6a6a6