@import 'theme_color';
@import 'fonts';
@import 'mixin';
@import 'responsive';
@import 'home';

/* [Master Stylesheet] */

/*
Template Name: Nikki - Blog & Magazine Template
Template Author: Colorlib
Template Author URI: http://colorlib.com
Text Domain: Nikki, Blog, Magazine
Version: - v1.0.0
*/

/* =========== Index of CSS ===========
:: 1.0 Import Fonts
:: 2.0 Import All CSS
:: 3.0 Base CSS
    :: 3.1.0 Spacing
    :: 3.2.0 Height
    :: 3.3.0 Section Padding
    :: 3.4.0 Section Heading
    :: 3.5.0 Preloader
    :: 3.6.0 Miscellaneous
    :: 3.7.0 ScrollUp
    :: 3.8.0 nikki Button
:: 4.0 Header Area CSS
:: 5.0 Hero Slides Area
:: 6.0 About Us Area CSS
:: 7.0 Featured Post Sildes CSS
:: 8.0 Instagram Area CSS
:: 9.0 Footer Area CSS
:: 10.0 Breadcumb Area CSS
:: 11.0 Blog Area CSS
:: 12.0 Comment Area
:: 13.0 Leave A Reply Area CSS
:: 14.0 Pager CSS
:: 15.0 Sidebar Area CSS
:: 16.0 Contact Area CSS
:: 17.0 Typography CSS
*/

/* :: 1.0 Import Fonts */

@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700|Work+Sans:300,400,500,600,700');

/* :: 2.0 Import All CSS */

@import 'css/bootstrap.min.css';
@import 'css/classy-nav.css';
@import 'css/owl.carousel.min.css';
@import 'css/animate.css';
@import 'css/magnific-popup.css';
@import 'css/font-awesome.min.css';

/* :: 3.0 Base CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $barlow-fonts;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    line-height: 1.3;
    font-weight: 500;
}

p {
    color: $text-color;
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: $heading-color;
    font-weight: 600;
    font-size: 14px;
}

ul,
ol {
    margin: 0;

    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

/* :: 3.1.0 Spacing */

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* :: 3.2.0 Height */

.height-400 {
    height: 400px;
}

.height-500 {
    height: 500px;
}

.height-600 {
    height: 600px;
}

.height-700 {
    height: 700px;
}

.height-800 {
    height: 800px;
}

/* :: 3.3.0 Section Padding */
.section-padding-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-padding-50-20 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-padding-50-0 {
    padding-top: 50px;
    padding-bottom: 0;
}

.section-padding-100-0 {
  padding-top: 100px;
  padding-bottom: 0;
}

.section-padding-0-100 {
    padding-top: 0;
    padding-bottom: 100px;
}

.section-padding-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

/* :: 3.4.0 Section Heading */

.section-heading {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    h2 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 0;

        @media #{$breakpoint-xs} {
            font-size: 24px;
        }
    }

    p {
        font-size: 18px;
        font-weight: 500;
        color: $text-color;
        margin-bottom: 0;
    }
}

/* :: 3.5.0 Preloader */

.preloader {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    overflow: hidden;

    .circle-preloader {
        .dot {
            background: $hover-color;

            &,
            &:after {
                display: inline-block;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                animation: a 1.5s calc(((var(--i) + var(--o, 0))/var(--n) - 1)*#{$t}) infinite;
            }

            &:after {
                --o: 1;
                background: $white-color;
                content: ''
            }
        }

        @-webkit-keyframes a {

            0%,
            50% {
                transform: scale(0)
            }
        }

        @keyframes a {

            0%,
            50% {
                transform: scale(0)
            }
        }
    }
}

@-webkit-keyframes line {
    0% {
        left: -80px;
    }

    100% {
        left: 160px;
    }
}

@keyframes line {
    0% {
        left: -80px;
    }

    100% {
        left: 160px;
    }
}

/* :: 3.6.0 Miscellaneous */

.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;

    &::after {
        background-color: rgba(21, 4, 48, 0.89);
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
    }
}

.bg-fixed {
    background-attachment: fixed !important;
}

/* :: 3.7.0 ScrollUp */

#scrollUp {
    background-color: $bg-default;
    border-radius: 0;
    bottom: 0;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 50px;
    text-align: center;
    width: 40px;
    @include trans-duration(500ms);

    &:hover {
        background-color: $heading-color;
    }
}

/* :: 3.8.0 nikki Button */

.nikki-btn {
    @include trans-duration(500ms);
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 180px;
    height: 50px;
    color: $heading-color;
    background-color: $white-color;
    border: 1px solid $heading-color;
    border-radius: 2px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 400;

    &.active,
    &:hover,
    &:focus {
        color: $white-color;
        background-color: $hover-color;
        border-color: $hover-color;
    }

    &.btn-sm {
        min-width: 80px;
        height: 30px;
        line-height: 28px;
    }
}

/* :: 4.0 Header Area CSS */

.header-area {
    position: relative;
    width: 100%;
    z-index: 100;
    background-color: $white-color;
    box-shadow: 0 3px 10px 2px rgba(0, 0, 0, 0.15);
    height: 60px;

    .search-form form {
        position: relative;
        z-index: 2;
        border-right: 1px solid $border-color;
        margin: 0 30px 0 100px;

        @media #{$breakpoint-lg} {
            margin: 0 20px 0 50px;
        }

        @media #{$breakpoint-md} {
            margin: 15px;
            border-right: none;
        }

        @media #{$breakpoint-xs} {
            margin: 15px;
            border-right: none;
        }

        input {
            &.form-control {
                width: 200px;
                height: 40px;
                border: none;
                background-color: $white-color;
                font-size: 14px;
                font-style: italic;
                color: $secondary-color;
                padding: 0;
                @include trans-duration(500ms);

                &::placeholder {
                    color: $secondary-color;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        button {
            @include trans-duration(500ms);
            position: absolute;
            width: 40px;
            height: 40px;
            right: 25px;
            top: 0;
            z-index: 10;
            border: none;
            background-color: $white-color;

            &:hover {
                color: $hover-color;
                cursor: pointer;
            }

            @media #{$breakpoint-lg} {
                right: 15px;
            }
        }
    }

    .top-social-info {
        @media #{$breakpoint-md} {
            margin: 15px 5px 0;
        }

        @media #{$breakpoint-xs} {
            margin: 15px 5px 0;
        }

        a {
            display: inline-block;
            padding: 0 10px;
            font-size: 14px;

            &:hover {
                color: $hover-color;
            }

            @media #{$breakpoint-lg} {
                padding: 0 5px;
            }
        }
    }

    .nikki-main-menu {
        @include trans-duration(300ms);

        .classy-navbar {
            padding: 0 2%;
            @include trans-duration(500ms);
            height: 60px;

            .nav-brand {
                max-width: 70px;
            }
        }

        .classynav ul li a {
            padding: 0 15px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;

            &:hover,
            &:focus {
                color: $hover-color;
            }

            @media #{$breakpoint-lg} {
                padding: 0 10px;
            }
        }

        .classynav ul li ul li a {
            padding: 0 20px;
            letter-spacing: 0;
            white-space: nowrap;
        }
    }

    .breakpoint-on .classynav {
        padding-top: 60px;
    }

    .is-sticky {
        .nikki-main-menu {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 9999;
            box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2);
        }
    }
}

/* :: 5.0 Hero Slides Area */

.hero-area,
.hero-post-slides {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 700px;

    @media #{$breakpoint-md} {
        height: 600px;
    }

    @media #{$breakpoint-xs} {
        height: 900px;
    }

    @media #{$breakpoint-xs-landscape} {
        height: 750px;
    }

    .owl-nav {
        position: absolute;
        width: auto;
        height: auto;
        bottom: 0;
        z-index: 10;
        left: 65%;
        @include display-flex(flex);

        @media #{$breakpoint-lg} {
            left: 55%;
        }

        @media #{$breakpoint-md} {
            left: 45%;
        }

        @media #{$breakpoint-xs} {
            left: 5%;
        }

        .owl-prev,
        .owl-next {
            @include trans-duration(500ms);
            @include flex(0 0 50px);
            max-width: 50px;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            background-color: #ebebeb;
            line-height: 48px;
            text-align: center;
            font-size: 30px;

            &:hover,
            &:focus {
                background-color: $hover-color;
            }

            @media #{$breakpoint-xs} {
                @include flex(0 0 40px);
                max-width: 40px;
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
        }
    }
}

.single-hero-post {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 700px;
    overflow: hidden;

    @media #{$breakpoint-md} {
        height: 600px;
    }

    @media #{$breakpoint-xs} {
        height: 900px;
    }

    @media #{$breakpoint-xs-landscape} {
        height: 750px;
    }

    .slide-post-thumbnail {
        @include flex(0 0 60%);
        max-width: 60%;
        width: 60%;
        height: 700px;
        @include animation(slide 20s linear infinite);

        @media #{$breakpoint-lg} {
            @include flex(0 0 50%);
            max-width: 50%;
            width: 50%;
        }

        @media #{$breakpoint-md} {
            @include flex(0 0 40%);
            max-width: 40%;
            width: 40%;
            height: 600px;
        }

        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            height: 250px !important;
        }
    }

    .slide-post-content {
        position: relative;
        z-index: 10;
        background-color: $white-color;
        @include flex(0 0 40%);
        max-width: 40%;
        width: 40%;
        padding: 30px 5%;
        height: 700px;

        @media #{$breakpoint-lg} {
            @include flex(0 0 50%);
            max-width: 50%;
            width: 50%;
        }

        @media #{$breakpoint-md} {
            @include flex(0 0 60%);
            max-width: 60%;
            width: 60%;
            height: 600px;
        }

        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            max-width: 100%;
            width: 100%;
            height: 650px !important;
        }

        @media #{$breakpoint-xs-landscape} {
            height: 500px !important;
        }

        .post-date {
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $hover-color;
        }

        .post-title {
            h2 {
                @include trans-duration(500ms);
                font-size: 42px;
                font-weight: 300;
                line-height: 1.15;
                margin-bottom: 20px;

                &:hover {
                    color: $hover-color;
                }

                @media #{$breakpoint-lg} {
                    font-size: 30px;
                }

                @media #{$breakpoint-md} {
                    font-size: 30px;
                }

                @media #{$breakpoint-xs} {
                    font-size: 30px;
                }
            }
        }

        .post-excerpt {
            margin-bottom: 50px;

            @media #{$breakpoint-xs} {
                margin-bottom: 30px;
            }
        }

        .page-count {
            position: absolute;
            z-index: 30;
            bottom: 0;
            right: 10%;
            font-size: 30px;
            font-weight: 400;
            font-size: 30px;

            span {
                font-size: 16px;
                color: $secondary-color;
            }
        }
    }
}

@-webkit-keyframes slide {
    0% {
        @include transform(scale(1));
    }

    50% {
        @include transform(scale(1.3));
    }

    100% {
        @include transform(scale(1));
    }
}

@keyframes slide {
    0% {
        @include transform(scale(1));
    }

    50% {
        @include transform(scale(1.3));
    }

    100% {
        @include transform(scale(1));
    }
}

/* :: 6.0 About Us Area CSS */

.about-content {
    position: relative;
    z-index: 1;
    padding: 100px;
    background-color: $white-color;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #f2f4f5;

    @media #{$breakpoint-lg} {
        padding: 50px;
    }

    @media #{$breakpoint-md} {
        padding: 50px;
    }

    @media #{$breakpoint-xs} {
        padding: 50px 30px;
    }

    img {
        margin-bottom: 30px;
    }

    ul {
        position: relative;
        z-index: 1;

        li {
            font-size: 16px;
            color: $text-color;
            margin-bottom: 15px;
            display: block;

            i {
                position: relative;
                z-index: 1;
                top: -1px;
                font-size: 14px;
                color: $hover-color;
                margin-right: 5px;
            }
        }
    }

    .about-text {
        padding: 0 10%;
    }
}

/* :: 7.0 Featured Post Sildes CSS */

.featured-post-area {
    position: relative;
    z-index: 2;

    .featured-post-content {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid $border-color;

        .post-date {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $hover-color;
        }

        .post-title {
            h2 {
                @include trans-duration(500ms);
                font-size: 45px;
                font-weight: 300;
                line-height: 1.1;
                margin-bottom: 20px;

                &:hover {
                    color: $hover-color;
                }

                @media #{$breakpoint-lg} {
                    font-size: 36px;
                }

                @media #{$breakpoint-md} {
                    font-size: 30px;
                }

                @media #{$breakpoint-xs} {
                    font-size: 30px;
                }
            }
        }

        .post-excerpt {
            margin-bottom: 30px;
        }
    }

    .post-meta {
        position: relative;
        z-index: 1;
        margin-top: 15px;

        .author-comments {
            a {
                font-size: 14px;
                font-style: italic;
                display: inline-block;
                font-weight: 400;

                span {
                    color: $secondary-color;
                }

                &:first-child {
                    margin-right: 40px;

                    @media #{$breakpoint-xs} {
                        margin-right: 20px;
                    }
                }

                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }

        .social-info {
            a {
                display: inline-block;
                font-size: 14px;
                padding: 0 15px;

                &:hover,
                &:focus {
                    color: $hover-color;
                }

                @media #{$breakpoint-xs} {
                    padding: 0 5px;
                }
            }
        }
    }
}

.post-sidebar-area {
    position: relative;
    z-index: 1;

    @media #{$breakpoint-md} {
        margin-top: 50px;
    }

    @media #{$breakpoint-xs} {
        margin-top: 50px;
    }
}

/* :: 8.0 Instagram Area CSS */

.single-instagram {
    position: relative;
    z-index: 2;
    overflow: hidden;
    @include flex(0 0 12.5%);
    max-width: 12.5%;
    width: 12.5%;

    @media #{$breakpoint-xs} {
        @include flex(0 0 25%);
        max-width: 25%;
        width: 25%;
    }

    &::after {
        @include trans-duration(500ms);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: rgba(255, 255, 255, 0.9);
        content: '';
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    img {
        @include trans-duration(1000ms);
    }

    a {
        @include trans-duration(500ms);
        text-align: center;
        display: inline-block;
        @include transform(translateY(-50%));
        position: absolute;
        z-index: 30;
        width: 100%;
        top: 50%;
        left: 0;
        font-size: 24px;
        color: $heading-color;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;

        &:hover {
            color: $hover-color;
        }

        i {
            margin-right: 5px;
        }
    }

    &:hover img {
        @include transform(scale(1.2));
    }

    &:hover::after,
    &:hover a {
        opacity: 1;
        visibility: visible;
    }
}

/* :: 9.0 Footer Area CSS */

.footer-area {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: #101010;

    .footer-social-info {
        position: relative;
        z-index: 1;
        padding: 30px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        a {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 1px;
            color: $secondary-color;

            span {
                margin-left: 10px;

                @media #{$breakpoint-xs} {
                    display: none;
                }

                @media #{$breakpoint-md} {
                    display: none;
                }
            }

            &:hover,
            &:focus {
                color: $white-color;
            }
        }
    }

    .copywrite-text {
        position: relative;
        z-index: 1;
        padding: 15px 0;
        text-align: center;

        p {
            font-size: 14px;
            color: #595959;
            margin-bottom: 0;

            @media #{$breakpoint-xs} {
                font-size: 12px;
            }

            a {
                font-size: 14px;
                color: $white-color;
                font-weight: 400;

                &:hover,
                &:focus {
                    color: $hover-color;
                }

                @media #{$breakpoint-xs} {
                    font-size: 12px;
                }
            }
        }
    }
}

/* :: 10.0 Breadcumb Area CSS */

.breadcrumb-area {
    position: relative;
    z-index: 10;
    width: 100%;
    padding-bottom: 60px;

    .breadcrumb {
        margin: 0;
        padding: 0;
        padding-top: 30px;
        background-color: transparent;

        .breadcrumb-item {
            font-size: 16px;
            color: $secondary-color;

            a {
                font-size: 16px;
                color: $heading-color;

                i {
                    color: $hover-color;
                }

                &:hover,
                &:focus {
                    color: $hover-color;
                }
            }
        }

        .breadcrumb-item+.breadcrumb-item::before {
            color: $heading-color;
            content: "\f105";
            font-family: 'FontAwesome';
        }
    }
}

/* :: 11.0 Blog Area CSS */

.single-blog-post {
    position: relative;
    z-index: 1;

    .post-thumbnail {
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
    }

    .post-content {
        .post-date {
            font-weight: 500;
            font-size: 13px;
            color: $white-color;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $hover-color;
            margin-bottom: 0;
        }

        .post-title {
            h4 {
                @include trans-duration(500ms);
                line-height: 1.5;
                margin-bottom: 15px;
                font-weight: 500;

                &:hover {
                    color: $hover-color;
                }

                @media #{$breakpoint-md} {
                    font-size: 20px;
                }

                @media #{$breakpoint-xs} {
                    font-size: 20px;
                }
            }
        }

        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 15px;

            a {
                display: inline-block;
                font-size: 14px;
                color: $heading-color;
                margin-right: 15px;

                &:first-child {
                    font-style: italic;
                }

                span,
                i {
                    color: $secondary-color;
                    margin-left: 3px;
                }

                &:hover {
                    color: $hover-color;
                }
            }
        }

        .post-excerpt {
            font-size: 16px;
            color: $text-color;
            margin-bottom: 0;
        }

        .read-more-btn {
            display: block;
            margin-top: 20px;
            color: $secondary-color;
            font-size: 13px;
            margin-bottom: 0;
            text-transform: uppercase;

            i {
                @include trans-duration(300ms);
                color: $hover-color;
            }

            &:hover,
            &:focus {
                color: $hover-color;

                i {
                    margin-left: 5px;
                }
            }
        }
    }
}

/* :: 12.0 Comment Area */

.comment_area {
    position: relative;
    z-index: 1;
    padding: 50px 0;
    border-top: 1px solid $border-color;

    .headline {
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    .single_comment_area {
        position: relative;
        z-index: 1;

        &::after {
            position: absolute;
            width: 1px;
            height: 90%;
            background-color: $border-color;
            left: 100px;
            top: 0;
            z-index: 2;
            content: '';

            @media #{$breakpoint-xs} {
                display: none;
            }
        }

        .comment-wrapper {
            margin-bottom: 30px;

            .comment-author {
                @include flex(0 0 70px);
                max-width: 70px;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                margin-right: 60px;

                @media #{$breakpoint-xs} {
                    margin-right: 20px;
                    @include flex(0 0 40px);
                    max-width: 40px;
                    width: 40px;
                    height: 40px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .comment-content {
                @include flex(1);

                .comment-date {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $hover-color;
                }

                h5 {
                    font-size: 18px;
                    margin: 5px 0;

                    @media #{$breakpoint-xs} {
                        font-size: 16px;
                    }
                }

                p {
                    @media #{$breakpoint-xs} {
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }

                a {
                    min-width: 80px;
                    height: 30px;
                    border: 1px solid $border-color;
                    line-height: 28px;
                    font-size: 12px;
                    text-align: center;
                    color: $heading-color;
                    display: inline-block;

                    &:hover {
                        border-color: $heading-color;
                        color: $white-color;
                        background-color: $heading-color;
                    }

                    @media #{$breakpoint-xs} {
                        margin: 5px 0;
                    }
                }
            }
        }
    }
}

.single_comment_area ol li.single_comment_area {
    margin-left: 130px;

    &::after {
        display: none;
    }

    @media #{$breakpoint-xs} {
        margin-left: 40px;
    }

    .comment-wrapper .comment-author {
        margin-right: 30px;

        @media #{$breakpoint-xs} {
            margin-right: 15px;
        }
    }
}

/* :: 13.0 Leave A Reply Area CSS */

.leave-comment-area {
    position: relative;
    z-index: 1;
    border-top: 1px solid $border-color;
    padding-top: 50px;

    h4 {
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    form {
        .form-control {
            width: 100%;
            height: 50px;
            border: 1px solid $border-color;
            font-size: 14px;
            color: $secondary-color;
            padding: 10px 20px;
            margin-bottom: 20px;
            border-radius: 0;
            @include trans-duration(500ms);

            &:focus {
                box-shadow: none;
                border-color: $hover-color;
            }
        }

        textarea.form-control {
            width: 100%;
            height: 120px;
        }
    }
}

/* :: 14.0 Pager CSS */

.nikki-pager {
    @include display-flex(flex);
    @include justify-content-between;

    li a {
        width: 130px;
        height: 44px;
        border: 1px solid $border-color;
        display: inline-block;
        font-size: 13px;
        color: $secondary-color;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 42px;
        text-align: center;

        &:hover,
        &:focus {
            color: $heading-color;
        }
    }
}

/* :: 15.0 Sidebar Area CSS */

.single-widget-area {
    position: relative;
    z-index: 1;

    .widget-title {
        width: 100%;
        position: relative;
        z-index: 2;
        margin-bottom: 30px;
        text-align: center;
        background-color: #1a1a1a;
        height: 40px;
        border-radius: 2px;

        h6 {
            position: relative;
            z-index: 5;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0;
            line-height: 40px;
            padding: 0 15px;
            display: inline-block;
            color: $white-color;
        }
    }

    .about-thumbnail {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;

        img {
            border-radius: 50%;
        }
    }

    .widget-content {
        img {
            margin-top: 20px;
            margin-bottom: 15px;
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.6;
            color: #595959;
        }
    }

    .widget-social-info {
        a {
            display: inline-block;
            padding: 0 10px;

            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }

    .single-latest-post {
        position: relative;
        z-index: 1;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        .post-thumb {
            @include flex(0 0 35%);
            max-width: 35%;
            width: 35%;
            margin-right: 30px;
        }

        .post-content {
            .post-title {
                position: relative;
                top: -5px;
                z-index: 1;
                line-height: 1;
                display: block;

                h6 {
                    @include trans-duration(500ms);
                    font-size: 18px;
                    line-height: 1.2;
                    font-weight: 600;
                    margin-bottom: 0;

                    &:hover,
                    &:focus {
                        color: $hover-color;
                    }
                }
            }

            .post-author {
                display: block;
                font-size: 14px;
                font-style: italic;
                font-weight: 400;

                span {
                    color: $secondary-color;
                }
            }
        }
    }

    .newsletter-content {
        position: relative;
        z-index: 1;

        p {
            margin-bottom: 30px;
            font-size: 16px;
            line-height: 1.5;
        }

        form {
            position: relative;
            z-index: 2;

            input {
                background-color: $bg-gray;
                padding: 0 20px;
                width: 100%;
                height: 50px;
                font-size: 14px;
                color: $secondary-color;
                border: none;
                border-radius: 0;

                &:focus {
                    box-shadow: none;
                }
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                width: 50px;
                height: 50px;
                z-index: 10;
                border: none;
                background-color: $hover-color;
                cursor: pointer;
                color: $white-color;

                &:hover {
                    @include trans-duration(300ms);
                    background-color: $heading-color;
                }
            }
        }
    }

    .popular-tags {
        li a {
            display: inline-block;
            margin: 4px;
            border: 1px solid $border-color;
            padding: 10px 15px;
            line-height: 1;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 400;
            color: $heading-color;

            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }

    .nikki-catagories {
        position: relative;
        z-index: 1;

        li a {
            @include display-flex(flex);
            @include justify-content-between;
            padding: 15px 0;
            font-size: 16px;
            line-height: 1;
            font-weight: 300;

            span {
                color: $heading-color;
                @include trans-duration(500ms);

                i {
                    position: relative;
                    top: -1px;
                    font-size: 14px;
                    margin-right: 8px;
                }

                &:last-child {
                    color: $secondary-color;
                    font-weight: 400;
                }
            }

            &:hover span,
            &:focus span {
                color: $hover-color;
            }
        }

        li:last-child a {
            border-bottom: none;
        }
    }

    .nikki-archives {
        position: relative;
        z-index: 1;

        li a {
            display: block;
            padding: 15px 0;
            font-size: 16px;
            line-height: 1;
            font-weight: 400;
            color: #595959;
            @include trans-duration(500ms);

            i {
                position: relative;
                top: -3px;
                font-size: 8px;
                margin-right: 8px;
            }

            &:hover,
            &:focus {
                color: $hover-color;
            }
        }

        li:last-child a {
            border-bottom: none;
        }
    }

    .search-form {
        position: relative;
        z-index: 2;

        input {
            background-color: $bg-gray;
            padding: 0 20px;
            width: 100%;
            height: 50px;
            font-size: 14px;
            color: $secondary-color;
            border: none;
            border-radius: 0;

            &:focus {
                box-shadow: none;
            }
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            z-index: 10;
            border: none;
            background-color: $hover-color;
            cursor: pointer;
            color: $white-color;

            &:hover {
                @include trans-duration(300ms);
                background-color: $heading-color;
            }
        }
    }
}

.single-post-details-area {
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #f2f4f5;
    background-color: $white-color;
    padding: 80px 70px;

    @media #{$breakpoint-lg} {
        padding: 70px 50px;
    }

    @media #{$breakpoint-md} {
        padding: 50px;
    }

    @media #{$breakpoint-xs} {
        padding: 50px 20px;
    }

    .post-content {
        .post-date {
            font-weight: 500;
            font-size: 14px;
            color: $white-color;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $hover-color;
        }

        .post-title {
            @include trans-duration(500ms);
            line-height: 1.15;
            margin-bottom: 30px;
            font-size: 45px;

            @media #{$breakpoint-md} {
                font-size: 30px;
            }

            @media #{$breakpoint-xs} {
                font-size: 24px;
            }
        }

        .post-meta {
            position: relative;
            z-index: 1;
            margin-bottom: 30px;

            a {
                display: inline-block;
                font-size: 14px;
                color: $heading-color;
                font-style: italic;
                font-weight: 400;
                padding: 0 20px;

                span {
                    color: $secondary-color;
                    margin-left: 3px;
                }

                &:hover {
                    color: $hover-color;
                }
            }
        }

        .post-text {
            position: relative;
            z-index: 5;
            padding: 0 10%;

            @media #{$breakpoint-xs} {
                padding: 0 15%;
            }

            .post-share {
                position: absolute;
                width: auto;
                height: auto;
                top: 0;
                left: 0;
                z-index: 10;

                @media #{$breakpoint-xs} {
                    top: 10px;
                }

                span {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    color: $heading-color;
                    letter-spacing: 2px;
                    margin-bottom: 15px;

                    @media #{$breakpoint-xs} {
                        display: none;
                    }

                    @media #{$breakpoint-sm} {
                        display: block;
                    }
                }

                a {
                    display: block;
                    margin-bottom: 10px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    color: $white-color;
                    background-color: $heading-color;
                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;

                    &.facebook {
                        background-color: #4c65a8;
                    }

                    &.twitter {
                        background-color: #41a1f6;
                    }

                    &.google-plus {
                        background-color: #f43535;
                    }

                    &.instagram {
                        background-color: #8f6247;
                    }

                    &.pin {
                        background-color: #f0c605;
                    }

                    &:hover {
                        background-color: $hover-color;
                    }

                    @media #{$breakpoint-xs} {
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        font-size: 12px;
                    }

                    @media #{$breakpoint-sm} {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.post-tags-share {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    .popular-tags {
        li a {
            display: inline-block;
            margin: 4px;
            border: 1px solid $border-color;
            padding: 10px 15px;
            line-height: 1;
            text-transform: uppercase;
            font-size: 13px;
            color: $heading-color;
            font-weight: 400;

            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
}

.related-posts {
    position: relative;
    z-index: 1;
    border-top: 1px solid $border-color;
    padding-top: 50px;

    .headline {
        margin-bottom: 30px;
        text-transform: uppercase;
    }
}

.map-area {
    position: relative;
    z-index: 2;

    iframe {
        width: 100%;
        height: 530px;
        border: none;
        margin-bottom: 0;

        @media #{$breakpoint-md} {
            height: 400px;
        }

        @media #{$breakpoint-xs} {
            height: 300px;
        }
    }
}

/* :: 16.0 Contact Area CSS */

.contact-content-area {
    position: relative;
    z-index: 50;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.15);
}

.contact-content {
    position: relative;
    z-index: 2;

    h4 {
        font-weight: 400;
        margin-bottom: 30px;
        font-size: 45px;

        @media #{$breakpoint-md} {
            font-size: 36px;
        }

        @media #{$breakpoint-xs} {
            font-size: 30px;
        }
    }

    p {
        font-size: 20px;
        margin-bottom: 40px;

        @media #{$breakpoint-xs} {
            font-size: 16px;
        }
    }

    .single-contact-info {
        position: relative;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }

        h6 {
            font-size: 18px;
            color: #595959;
            font-weight: 500;

            @media #{$breakpoint-xs} {
                font-size: 16px;
            }
        }

        h4 {
            font-size: 24px;
            margin-bottom: 0;

            @media #{$breakpoint-md} {
                font-size: 20px;
            }

            @media #{$breakpoint-xs} {
                font-size: 16px;
            }
        }
    }
}

/* :: 17.0 Typography CSS */

.nikki-list-area,
.type-face,
.nikki-image,
.nikki-blockquote {
    position: relative;
    z-index: 1;
}

.nikki-list {
    position: relative;
    z-index: 1;

    li {
        font-size: 16px;
        color: $text-color;
        margin-bottom: 15px;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

blockquote {
    @include display-flex(flex);
    position: relative;
    z-index: 1;
    padding: 15px 0 0 0;

    .blockquote-icon {
        position: relative;
        z-index: 1;
        margin-right: 10px;
        @include flex(0 0 40px);
        max-width: 40px;
        width: 40px;

        @media #{$breakpoint-xs} {
            @include flex(0 0 35px);
            max-width: 35px;
            width: 35px;
            margin-right: 0;
        }

        img {
            width: 30px;
            height: auto;

            @media #{$breakpoint-xs} {
                width: 25px;
            }
        }
    }

    .blockquote-text {
        h5 {
            font-weight: 400;
            line-height: 1.5;

            &:first-child {
                font-style: italic;
            }

            @media #{$breakpoint-xs} {
                font-size: 16px;
            }
        }

        h6 {
            position: relative;
            z-index: 1;
            margin-bottom: 0;

            span {
                color: $hover-color;
            }

            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
        }
    }

    &.shortcodes {
        padding: 30px 50px;
        background-color: $bg-gray;

        @media #{$breakpoint-xs} {
            padding: 30px 15px;
        }
    }
}

.contact-form-area {
    .form-control {
        position: relative;
        z-index: 2;
        height: 50px;
        width: 100%;
        background-color: $white-color;
        font-size: 14px;
        margin-bottom: 15px;
        border: 1px solid $border-color;
        border-radius: 0;
        padding: 15px 30px;
        color: $secondary-color;
        @include trans-duration(500ms);

        &:focus {
            box-shadow: none;
            border-color: $hover-color;
        }
    }

    textarea.form-control {
        height: 120px;
    }
}

/* ======= The End ======= */

html {
    min-height: 100%;
    position: relative;
}
