.validated select.form-control.invalid + .select2-container--default .select2-selection--single,
.validated select.form-control.invalid + .select2-container--default .select2-selection--multiple,
.validated       .form-control.invalid,
.validated       .custom-select.invalid {
  border-color: #dc3545;
}

.validated select.form-control.valid + .select2-container--default .select2-selection--single,
.validated select.form-control.valid + .select2-container--default .select2-selection--multiple,
.validated       .form-control.valid,
.validated       .custom-select.valid {
  border-color: #28a745;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #7B1FA2;
}

.custom-control-input:disabled.custom-control-input:checked~.custom-control-label.invalid::before {
  background-color:#dc3545;
}

.custom-control-input:disabled.custom-control-input:checked~.custom-control-label.valid::before {
  background-color: #28a745;
}
